* {
  text-wrap: balance;
  list-style: none;
}

footer {
   position: relative;
   background-color: #f9d8c8;
   color: #ff4400;
   padding: 30px 10px;
   margin-bottom: 0;
   border-top: 1px solid #ff4400;
   margin-top: 30px;
   min-height: unset;
   bottom: 0;
   text-align: center;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 0;
   padding-right: 0;
}

#footer_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 20px;
}

#footer_logo {
  flex: 1 1 200px;
  text-align: center;
  width: auto;
  padding-left: 0;
}

#footer_logo img {
  max-width: 180px;
  height: auto;
}

#footer_text {
  display: flex;
  flex-direction: column;
  text-wrap: balance;
  text-align: justify;
  color: #000000;
}

/* Les autres styles de texte sont dans typography.css */

#footer_menu {
  flex: 1 1 200px;
  text-align: center;
  margin: 10px 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
}

/* Responsive */
@media (max-width: 1100px) {
  #footer_container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  #footer_logo {
    margin-bottom: 0px;
  }
  #footer_text, #footer_menu {
    margin-top: 0px;
    font-size: 16px;
  }
  #footer_menu {
    display: none;
  }
}

#footer_text a {
  color: #000000;
  text-decoration: none;
  font-weight: bolder;
}
#footer_menu a {
  color: #000000;
  text-decoration: none;
  font-weight: bolder;
}

#footer_text a:hover {
  text-decoration: underline;
  color: #ff4400;
}
#footer_menu a:hover {
  text-decoration: underline;
  color: #ff4400;
}

#footer_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
